<div>
    <div class="row justify-content-around">
        <h1 class="col-md-4">Lista de usuários</h1>
        <a href='user/add' class='btn btn-outline-primary col-md-4' style="width: 50px;">Add</a>
    </div>
    <div class="table-responsive" style="margin-top: 25px;">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th>Nome</th>
                <th>Username</th>
                <th>Online</th>
                <th>Computador</th>
                <th>Ação</th>
            </thead>

            {{#each Users}}
            <tr>
                <td>
                    {{this.fullname}}
                </td>
                <td style="width: 50px;">
                    {{this.nickname}}
                </td>
                <td>
                    {{this.online}}
                </td>
                <td>
                    <form action="user/alter/{{this.id}}" method="POST" class="row justify-content-around" novalidate>
                        <select class="form-control col-md-4" name="computer" id="computer" style="width: 50px;" required>
                            <option value="{{this.computer}}" selected>{{this.computer}}</option>
                            <option value="NONE">NONE</option>
                            <option value="UM">UM</option>
                            <option value="DOIS">DOIS</option>
                            <option value="TRES">TRES</option>
                            <option value="QUATRO">QUATRO</option>
                            <option value="CINCO">CINCO</option>
                            <option value="SEIS">SEIS</option>
                            <option value="SETE">SETE</option>
                            <option value="OITO">OITO</option>
                            <option value="NOVE">NOVE</option>
                            <option value="DEZ">DEZ</option>
                        </select>
                        <button class="btn btn-outline-warning col-md-4">v</button>
                    </form>
                </td>
                <td style="width: 250px;">
                    <div class="row justify-content-md-center" >
                        <form action="user/profile" method="POST" class="col-md-auto">
                            <input type="hidden" name="id" value={{this.id}} />
                            <button class="btn btn-outline-success">Perfil</button>
                        </form>
                        <form action="user/delete" method="POST" class="col-md-auto">
                            <input type="hidden" name="id" value={{this.id}} />
                            <button class="btn btn-outline-danger">Deletar</button>
                        </form>
                    </div>
                </td>

            </tr>
            {{/each}}

        </table>
    </div>
</div>
