<div>
    <div class="row">
        <h1>Lista de usuários</h1>
        <a href='user/add' class='btn btn-outline-primary'>Add</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>role</th>
                <th>Ação</th>
            </thead>

            {{#each Users}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.fullname}}</td>
                <td style="width: 50px;">{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>
                    <div class="row">
                        <form action="user/profile" method="POST">
                            <input type="hidden" name="id" value={{this.id}} />
                            <button class="btn btn-outline-success">Perfil</button>
                        </form>
                        <form action="user/delete" method="POST">
                            <input type="hidden" name="id" value={{this.id}} />
                            <button class="btn btn-outline-danger">Deletar</button>
                        </form>
                    </div>
                </td>

            </tr>
            {{/each}}

        </table>
    </div>
</div>
